<% @popular_topics = Topic.reorder('name DESC').limit(2) %>
<% @popular_topics.each  do |topic| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to topic.name, topic %>
      </h4>
      <small>
        <%= topic.posts.count %> posts
      </small>
    </div>
  </div>
<% end %>
