<h1>Frequently Asked Questions</h1>
<p>Have a question about Bloccit? You may find your answer here.</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">What is Bloccit and why does it exist?</h3>
  </div>
  <div class="panel-body">
    Bloccit is a learning project through Bloc.io, an online code school. It's part of the backend section of the web development track, which focuses on building applications and working with data through Ruby on Rails. It exists because I, Kara, really love to code, and I wanted to get hands-on experience building something functional and fun with Ruby.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Where can I see the source code for Bloccit?</h3>
  </div>
  <div class="panel-body">
    You can see how Bloccit was built by browsing the code on my GitHub repository: <a href="https://github.com/karakarakaraff/bloccit">github.com/karakarakaraff/bloccit</a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Can I contact you?</h3>
  </div>
  <div class="panel-body">
    Of course! Send me a message at <a href="http://karaflaherty.com/contact">karaflaherty.com/contact</a>. (You can check out the rest of my portfolio while you're there!)
  </div>
</div>
